.autor-main .autor-details {
    width: 1020px;
    height: 280px;
    border-radius: 15px;
    background-color: var(--white-2);
    border: 1px solid var(--blue-1);
}

.autor-main .autor-details h1{
    font-size: 28px;
}

.autor-main .autor-details p{
    font-size: 14px;
    font-weight:bold;
    color: var(--grey-2);
}

.autor-main .autor-details .biografia{
    width:100%;
    height: 70px;
    background-color: var(--white);
    border-radius: 10px;
    border: 1px solid var(--blue-1)
}

.autor-main .autor-details .biografia p{
    font-size: 14px;
    font-weight: 400;
    color: var(--grey-1);
}

.autor-main .autor-books {
    width: 1020px;
    height: 310px;
}

.autor-main .autor-books h2{
   color: var(--grey-2);
}

