.card-book {
    width: 195px;
    height: 250;
    background-color: var(--white-2);
    border-radius: 10px;
}

.card-book img{
   width: 100%;
   height: 180px;
}

.card-book h1{
   font-size: 16px;
}

.card-book p{
   font-size: 11px;
}

.card-book .rating p{
   color: #D97706;
   font-size: 14px;
   font-weight: bold;
}